[defaults]
inventory = ./inventory.ini
remote_user = ec2-user
private_key_file = ../../morrowpal-prod-01.pem
local_tmp = /tmp/morrowpal-ansible-local
interpreter_python = auto_silent

[ssh_connection]
ssh_args = -o UserKnownHostsFile=./known_hosts -o StrictHostKeyChecking=accept-new
control_path_dir = /tmp/morrowpal-ansible-cp
